ИНТЕРАКТИВНЫЙ ТРЕНАЖЕР ПО SQL (stepik.org)  
(Дальневосточный федеральный университет)

1. Основы Реляционной Модели и SQL

In [ ]:
# LESSON 1. Отношение (таблица)

In [ ]:
# Типы данных:
# INTEGER (INT) -- Целое число, могут принимать значения от -2147483648 до 2147483647

# DECIMAL (4, 1) -- Вещественное число, в скобках указывается максимальная
# длина числа (включает символы слева и справа от десятичной запятой) 
# и количество знаков после запятой. Принимают значения в диапазоне -10^38+1 до 10^38-1.

# NUMERIC(6,3) -- аналогично DECIMAL

# DATE -- дата в формате YYYY-MM-DD

# VARCHAR(20) -- Строка длиной не более 255 символов, в скобках указывается максимальная 
# длина строки

In [ ]:
# Для описания ключевого поля используйте описание:
INT PRIMARY KEY AUTO_INCREMENT

In [ ]:
# Task 1
# Сформулируйте SQL запрос для создания таблицы book
CREATE TABLE book (
  book_id INT PRIMARY KEY AUTO_INCREMENT, 
  title VARCHAR(50), 
  author VARCHAR(30), 
  price DECIMAL(8, 2), 
  amount INT
);

In [ ]:
# to comment a block of code in SQL use: /* some text */
# to comment a block of code till the end of the line in SQL use: -- some text

In [ ]:
# Task 2
# Занесите новую строку в таблицу book 
INSERT INTO book (title, author, price, amount) 
VALUES 
  (
    "Мастер и Маргарита", 
    "Булгаков М.А.", 
    670.99, 
    3
  );

In [ ]:
# Task 3
# Занесите еще три записи в таблицу book. Каждая строка вставляется отдельным SQL 
# запросом, запросы обязательно разделять точкой с запятой
INSERT INTO book (title, author, price, amount) 
VALUES ('Белая гвардия', 'Булгаков М.А.', 540.50, 5);
  
INSERT INTO book (title, author, price, amount) 
VALUES ('Идиот', 'Достоевский Ф.М.', 460.00, 10);
  
INSERT INTO book (title, author, price, amount) 
VALUES ('Братья Карамазовы', 'Достоевский Ф.М.', 799.01, 2);

In [ ]:
# LESSON 2. Выборка данных